<!-- Content Row -->
<div class="row">
    <div class="col-md-5">
        <div class="row alert-box-left">

            <div class="col-md-4">
                <div class="alert-box">
                    <div class="alert-box-content">
                        <span class="alert-box-number">732</span>
                        <span class="alert-box-text">ARV Stockout</span>
                    </div>
                    <span class="alert-box-icon bg-red"><img src="assets/img/icons/About.png"/></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="alert-box">
                    <div class="alert-box-content">
                        <span class="alert-box-number">4,766</span>
                        <span class="alert-box-text">ANC HIV TESTED</span>
                    </div>
                    <span class="alert-box-icon bg-green"><img
                            src="assets/img/icons/down trend in alert bar.png"/></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="alert-box">
                    <div class="alert-box-content">
                        <span class="alert-box-number">732</span>
                        <span class="alert-box-text">ARV Stockout</span>
                    </div>
                    <span class="alert-box-icon bg-green"><img src="assets/img/icons/Checkmark alert bar.png"/></span>
                </div>
            </div>


        </div>
    </div>

    <div class="col-md-2">
        <div class="menu-icon"><img src="assets/img/icons/{{iconName}}.png"/></div>
    </div>

    <div class="col-md-5">
        <div class="row alert-box-right">
            <div class="col-md-4">

                <div class="alert-box">
                    <div class="alert-box-content">
                        <span class="alert-box-number">48</span>
                        <span class="alert-box-text">% Males Tested</span>
                    </div>
                    <span class="alert-box-icon bg-green"><img src="assets/img/icons/up trend alert bar.png"/></span>
                </div>

            </div>
            <div class="col-md-4">

                <div class="alert-box">
                    <div class="alert-box-content">
                        <span class="alert-box-number">429</span>
                        <span class="alert-box-text">PMTCT Coverage</span>
                    </div>
                    <span class="alert-box-icon bg-red"><img src="assets/img/icons/down trend in alert bar.png"/></span>
                </div>

            </div>
            <div class="col-md-4">
                <div class="alert-box">
                    <div class="alert-box-content">
                        <span class="alert-box-number">48</span>
                        <span class="alert-box-text">PMTCT Coverage</span>
                    </div>
                    <span class="alert-box-icon bg-green"><img src="assets/img/icons/up trend alert bar.png"/></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 alert-bar-join">
        <div class="title-bar">
            <h4>{{title}}</h4>
        </div>
    </div>
</div>