<!-- Content Row -->
<div class="row" ng-controller="alertController">
    <div class="col-md-5">
        <div class="row alert-box-left">
            <div class="col-md-4 alert-col">
                <div class="alert-box" alert-toggle="tab" id="alert-box0" title="">
                    <div class="row alert-box-row">
                        <div class="col-md-2 alert-box-icon">
                            <img src=""/>
                        </div>
                        <div class="col-md-10 alert-box-content">
                            <span class="alert-box-number" id="alertvalue0"></span>
                            <span class="alert-box-text" id="alertname0"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 alert-col">
                <div class="alert-box" alert-toggle="tab" id="alert-box1" title="">
                    <div class="row alert-box-row">
                        <div class="col-md-2 alert-box-icon">
                            <img src="assets/img/icons/down_arrow_gray.png"/>
                        </div>
                        <div class="col-md-10 alert-box-content">
                            <span class="alert-box-number" id="alertvalue1"></span>
                            <span class="alert-box-text" id="alertname1"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 alert-col">
                <div class="alert-box" alert-toggle="tab" id="alert-box2" title="">
                    <div class="row alert-box-row">
                        <div class="col-md-2 alert-box-icon">
                            <img src="assets/img/icons/check_mark_grey.png"/>
                        </div>
                        <div class="col-md-10 alert-box-content">
                            <span class="alert-box-number" id="alertvalue2"></span>
                            <span class="alert-box-text" id="alertname2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="menu-icon"><img src="assets/img/icons/{{iconName}}.png"/></div>
    </div>
    <div class="col-md-5">
        <div class="row alert-box-right">
            <div class="col-md-4 alert-col">
                <div class="alert-box" alert-toggle="tab" id="alert-box3" title="">
                    <div class="row alert-box-row">
                        <div class="col-md-2 alert-box-icon">
                            <img src="assets/img/icons/up_arrow_grey.png"/>
                        </div>
                        <div class="col-md-10 alert-box-content">
                            <span class="alert-box-number" id="alertvalue3"></span>
                            <span class="alert-box-text" id="alertname3"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 alert-col">
                <div class="alert-box" alert-toggle="tab" id="alert-box4" title="">
                    <div class="row alert-box-row">
                        <div class="col-md-2 alert-box-icon">
                            <img src="assets/img/icons/up_arrow_red.png"/>
                        </div>
                        <div class="col-md-10 alert-box-content">
                            <span class="alert-box-number" id="alertvalue4"></span>
                            <span class="alert-box-text" id="alertname4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 alert-col">
                <div class="alert-box" alert-toggle="tab" id="alert-box5" title="">
                    <div class="row alert-box-row">
                        <div class="col-md-2 alert-box-icon">
                            <img src="assets/img/icons/check_mark_grey.png"/>
                        </div>
                        <div class="col-md-10 alert-box-content">
                            <span class="alert-box-number" id="alertvalue5"></span>
                            <span class="alert-box-text" id="alertname5"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>