<div class="container-fluid alert-space">
    <!-- include alert bar -->
    <div ng-include src="'partials/nationalalerts.html'"></div>
    <div class="row">
        <div class="col-md-12 alert-bar-join">
            <div class="title-bar">
                <h4>{{phctitle}}</h4>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 col-t-nd1 panel panel-default highcharts-container-t1lg" id="1">
                <!-- MENU -->
                <div class="dropdown" style="float: right;">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Explore</a></li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <div class="col-md-4 col-t-nd1 panel panel-default highcharts-container-t1lg" id="2"></div>
            <div class="col-md-4 col-t-nd1 panel panel-default highcharts-container-t1lg" id="3"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-t-nd1 panel panel-default highcharts-container-t1lg" id="4">
                <!-- MENU -->
                <div class="dropdown" style="float: right;">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Explore</a></li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <div class="col-md-4 col-t-nd1 panel panel-default highcharts-container-t1lg" id="5"></div>
            <div class="col-md-4 col-t-nd1 panel panel-default highcharts-container-t1lg" id="6"></div>
        </div>
    </div>
</div>
<!-- end page-wrapper -->