<div class="container-fluid alert-space">
    <!-- include alert bar -->
    <div ng-include src="'partials/nationalalerts.html'"></div>
    <div class="row">
        <div class="col-md-12 alert-bar-join">
            <div class="title-bar">
                <h4>{{phctitle}}</h4>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 panel panel-default col-t-nd1 highcharts-container-t3lg" id="1"></div>
        </div>
        <div class="row">
            <div class="col-md-12 panel panel-default col-t-nd1 highcharts-container-t3lg" id="2"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 panel panel-default col-t-nd3 highcharts-container-t1sm" id="3"></div>
        </div>
        <div class="row">
            <div class="col-md-12 panel panel-default col-t-nd3 highcharts-container-t1sm" id="4"></div>
        </div>
        <div class="row">
            <div class="col-md-12 panel panel-default col-t-nd3 highcharts-container-t1sm" id="5"></div>
        </div>
    </div>
    <!-- content -->
</div>